.inputWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}
  
.loadingSpinner {
    position: absolute;
    right: 5px;
    top: 50%;
    translate: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-top: 2px solid #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

input {
    height: 20px;
    line-height: 20px;
}
  
.errorText {
    color: red;
    margin-top: 5px;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  